<<<<<<< HEAD
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
||||||| 418882d
=======
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
>>>>>>> c81c9fbdff760a01363462102c62b537233de2e5
